.ui-mobile, .ui-mobile body{
    /*background:url('images/bg.jpg') no-repeat scroll 0px 0px;
    background-color:#111111;
    background-size: 100%;*/
}
.ui-mobile, .ui-mobile .ui-page{
    -webkit-box-shadow: inset 0px 0px 100px 1px rgba(0, 0, 0, .5);
    box-shadow: inset 0px 0px 100px 1px rgba(0, 0, 0, .5); 
}
a.ctlogo, a.ctlogo:active, a.ctlogo:hover, a.ctlogo:visited, a.ctlogo:link {
    background-image: url("http://images.traderonline.com/img/tol-design/ctol/m/v2/sprt-logo-400x34.png");
}
a.logo, a.logo:active, a.logo:focus, a.logo:hover, a.logo:visited, a.logo:link {
    background-repeat: no-repeat;
    display: block;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-indent: -3000px;
    top: 7px;
    width: 200px;
}
a.logo, a.logo:visited, a.logo:link {
    background-color: transparent;
    background-position: 5px 3px;
}
a.logo span {
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 4px #E8E8E8;
    display: block;
    float: left;
    height: 30px;
    left: -20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 30px;
}
a.ctlogo span {
    background: url("http://images.traderonline.com/img/tol-design/ctol/m/v2/sprt-icons-75x35.png") no-repeat scroll -43px -1px transparent;
}

.imageBox {
    background: url("http://codiqa.com/static/images/v2/image.png") no-repeat scroll center center #FBFBFB;
    border: 1px solid #B8B8B8;
    padding: 10px;
    position: relative;
}
canvas{
    display: block;
    text-align:center;
    margin:0px auto;
    width:200px;
    border:1px solid #b8b8b8;
}
.resultImgBlock{
    margin-bottom:10px;
}
.content-primary2 .ui-loader{display:block; position:relative;}
.rfloat{float:right;}
.lfloat{float:left;}
.clear{clear:both;}
.resultImgBlock {padding:3px; border:1px solid #b8b8b8; margin-right:10px;background:white;}
.moreOptionsLink{text-align:center;}

.ui-bar-a{
    background:url('../images/realm-swoosh.png') repeat scroll 0px 0px;
    background-size: 100%;
    background-color:#200000;
}
.ui-header .ui-title, .ui-footer .ui-title{margin:10px 0px;}
.ui-footer h6{font-weight:normal;font-size:14px;color:#b6b6b6;}
.photoInput{
    height:0px; 
    width:0px; 
    overflow:hidden;
}
.ui-content{text-align:center;}
.resultInfoBox {text-align:left;margin:0px auto;width:100%;}
.listingContainer{
    border-top:1px solid #b6b6b6;
    border-bottom:1px solid #b6b6b6;
    padding:10px 0px;
}